Makefile
CMakeFiles
CMakeCache.txt
*.cmake
*.exe
*.rc
*.dll
*.a
*.la
*.so

/po/*.mo
/config.h
/win/resdefs.h
/release/tigervnc.iss

/release/maketarball
/tests/conv
/tests/convperf
/tests/decperf
/tests/encperf
/unix/vncconfig/vncconfig
/unix/vncpasswd/vncpasswd
/unix/x0vncserver/x0vncserver
/vncviewer/vncviewer
/xorg.build
/xorg
